<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>A simple app</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <nav>
    <h2>Welcome</h2>
    <ul>
      <li>
        <a href="/book">Books</a>
      </li>
    </ul>
  </nav>
</body>
</html>
